@import url('https://fonts.googleapis.com/css2?family=Muli');

* {
    box-sizing: border-box;
}

body {
    background-color: #2b88f0;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3{
    color: #fff;
    margin: 10px 0 20px;
}